body{
    width: 1140px;
    max-height: 950px;
    display: flex;
    color: #2A4A5C;
    background-color: #EFF6FF;
}

.left-side{
    display: flex;
    position: relative;
    margin: 15px 15px;
    box-sizing: border-box;
    max-width: 700px;
}

.bg{
    display: flex;
    width: 700px;
    position: relative;
}

.logo{
    display: flex;
    position: relative;
    width: 125px;
    height: 50px;
    left: -650px;
    top: 20px;
}

.right-side{
    position: relative;
    margin: 15px 15px;

}

@media all {
    
}

.container{
    display: inline-flex;
    width: 700px;
    height: 922px;
    position: relative;
    font-family: 'Times New Roman', Times, serif ;
}
.text{
    position: relative;
    left: 80px;
    top: 80px;
    margin-bottom: 15px;
    height: 250px;
}
.text p{
    font-size: 20px;
}

.content{
    position: relative;
    display: inline-flex;
    text-align: center;
    margin-bottom: 10px;
}

.content a{
    color: white;
}

.facebook{
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    background: #255A9B;
    text-align: center;
    padding: 15px;
    position: relative;
}
.facebook img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 220px;
    top: 12px;
}
.facebook a{
    text-decoration: none;
}

.linke{
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    background: #0076B6;
    margin-left: 50px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
}
.linke img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 220px;
    top: 12px;
}
.linke a{
    text-decoration: none;
}

.line-box{
    display: inline-flex;
    margin-bottom: 25px;
    margin-left: 50px;
    font-size: 20px;
    height: 15px;
}

.line1{
    width: 150px;
    height: 1px;
    background: grey;
    margin-right: 70px;
    position: relative;
    top: 10px;
    left: 50px;
}

.line2{
    width: 150px;
    height: 1px;
    background: grey;
    margin-left: 15px;
    position: relative;
    top: 10px;
}

.registr{
    display: flex;
    margin-bottom: 20px;
}

.phone{
    width: 250px;
    border: 2px solid grey;
    background: beige;
    border-radius: 5px;
}

.email{
    width: 250px;
    margin-right: 95px;
    border: 2px solid grey;
    background: beige;
    border-radius: 5px;
}

.registr input{
    border: none;
    width: 205px;
    height: 50px;
    background-color: beige;    
}

.email:hover{
    border-left: 5px solid #255A9B;    
}
.phone:hover{
    border-left: 5px solid #255A9B;
}

.question{
    margin-bottom: 25px;
}
.question h1{
    font-size: 25px;
}
.question h3{
    color: grey;
    font-size: 16px;
}
.select{
    display: flex;
    font-size: 20px;
    margin-bottom: 25px;
}

.select input{
    border: hidden;
    width: 30px;
    height: 25px;
    margin: 0 25px;
}


.agree{
    display: inline-flex;
    margin-bottom: 50px;
}

.agree a{
    color: skyblue;
}
.agree input{
    border: hidden;
    width: 50px;
}




.create{
    box-sizing: border-box;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background: skyblue;
    padding: 15px 75px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.create a{
    text-decoration: none;
    color: inherit;
}


.box-for-text{
    width: 250px;
    height: 60px;
    background: white;
    box-shadow: 2px 2px rgb(165, 162, 157);
    margin-bottom: 25px;
}